<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Estudiantes</th>
                <th>Materiales</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.nombre }}</td>
                    <td>{{ curso.cantidad_estudiantes }}</td>
                    <td>{{ curso.cantidad_materiales }}</td>
                    <td>
                        <a href="{{ url_for('docente_material.index', curso_id=curso.id) }}" class="btn btn-sm btn-primary">
                            <i class="bi bi-folder"></i> Materiales
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>