{% extends 'admi/base.html' %}
{% block title %}Docentes{% endblock %}
{% block content %}


<h3 class="fw-bold fs-4 my-3">Lista de Docentes
</h3>
<div class="mb-3">
    <a data-bs-toggle="modal" data-bs-target="#modalNuevoDocente" class="btn btn-primary">
        + Nuevo Docente
    </a>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table id="mi-tabla" class="table table-striped  display nowrap" style="width:100%">
                <thead>
                    <tr class="highlight">
                        <th>#</th>
                        <th>Nombre Completo</th>
                        <th>Email</th>
                        <th>Fecha de Nac. </th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in docentes%}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.usuario.nombre}} {{ item.usuario.apellido }}</td>
                        <td>{{item.usuario.email}}</td>
                        <td>{{item.fecha_nac.strftime('%d/%m/%Y')}}</td>
                        <td class="text-center">
                            <a data-bs-toggle="modal" data-bs-target="#modalVistaDocente{{ item.id }}"
                                class="btn btn-primary btn-sm"><i class=" bi bi-eye"></i></a>

                            <a data-bs-toggle="modal" data-bs-target="#modalEditarDocente{{ item.id }}"
                                class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>

                            <a class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#modalConfirmarEliminar"
                                data-url="{{ url_for('docente.delete', id=item.id) }}">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal de Edición -->
{% for item in docentes %}
<div class="modal fade" id="modalEditarDocente{{ item.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h5 class="modal-title">Editar Docente</h5>
                <button type="button" class="btn btn-sm text-white" data-bs-dismiss="modal" aria-label="Cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                {% set docente = item %}
                {% include 'admi/docentes/edit.html' %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Modal de Vista -->
{% for item in docentes %}
<div class="modal fade" id="modalVistaDocente{{ item.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h5 class="modal-title">Inf. Completa del Docente</h5>
                <button type="button" class="btn btn-sm text-white" data-bs-dismiss="modal" aria-label="Cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                {% set docente = item %}
                {% include 'admi/docentes/vista.html' %}
            </div>
        </div>
    </div>
</div>
{% endfor %}


<div class="modal fade" id="modalNuevoDocente" tabindex="-1" aria-labelledby="modalNuevoDocenteLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-between ">
                <h5 class="modal-title" id="modalNuevoDocenteLabel">Agregar Docente</h5>
                <button type="button" class="btn btn-sm text-white" data-bs-dismiss="modal" aria-label="Cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="modal-body">

                {% include 'admi/docentes/create.html' %}
            </div>
        </div>
    </div>
</div>


{% endblock %}