<table class="table table-bordered">
    <tr>
        <th>ID:</th>
        <td>{{ curso.id }}</td>
    </tr>
    <tr>
        <th>Nombre del curso:</th>
        <td>{{ curso.nombre }}</td>
    </tr>
    <tr>
        <th>Descripcion:</th>
        <td>{{ curso.descripcion }}</td>
    </tr>
    <tr>
        <th>Sigla:</th>
        <td>{{ curso.sigla }}</td>
    </tr>
    <tr>
        <th>Carga Horaria:</th>
        <td>{{ curso.carga_horaria }}</td>
    </tr>
    <tr>
        <th>Activo:</th>
        <td>{{ 'Sí' if curso.activo else 'No' }}</td>
    </tr>
    <tr>
        <th>Docente:</th>
        <td>
            {% if curso.docente %}
            {{ curso.docente.usuario.nombre }} {{ curso.docente.usuario.apellido }}
            {% else %}
            <span class="text-muted fst-italic">No asignado</span>
            {% endif %}
        </td>
    </tr>

</table>